# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Maven / Gradle
target/
build/

# Eclipse
*.launch
.settings/
.project
.classpath

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment files
.env

# Spring Boot devtools file
.spring-boot-devtools.properties

# Lombok config
lombok.config

# JetBrains Rider
.idea/
